<h1 style="text-align:center">Produtos</h1>
<h2>Tabela dos produtos</h2>
<div class="form-group" style="float:left;width: auto">
  <%= link_to "Novo Produto",new_site_product_path, :action => "index", :class => 'btn btn-success' %>
</div>
<div class="form-group" style="float:right">
  <%= form_tag(site_products_path, :method => 'get') do %>
    <%= text_field_tag(:term, params[:term]) %>
    <%= submit_tag ("Search"), :name => nil %>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |p| %>
      <tr>
        <th scope="row"><%= p.id %></th>
        <td><%= p.name %></td>
        <td><%= humanized_money_with_symbol p.price %></td>
        <td>
          <div class="btns" style="float:right">
            <%= link_to edit_site_product_path(p.id), :class => "btn btn-primary btn-sm"  do %>
              <i class="material-icons">edit</i>
            <% end %>
            <%= link_to  site_product_path(p), method: :delete, data: { confirm: "Tem certeza?" }, :class => "btn btn-danger btn-sm" do %>
              <i class="material-icons">close</i>
            <% end %>

          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate (@products), :page_links => true, :previous_label => 'Anterior', :next_label => 'Próximo', :inner_window => 1, :outer_window => 0 %>
